.show-qr-scanner {
    display: none;
  }

.call {
    position: absolute;
    padding: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    margin: auto;
}

.icon {
    width: 100px;
    height: 100px;
}