<ion-header>
  <ion-toolbar>
    <ion-title>
      Calling
    </ion-title>
    <ion-buttons slot="primary">
        <a href="/setting">
          <ion-button>
            <ion-icon class="primary" slot="icon-only" name="settings"></ion-icon>
          </ion-button>
        </a>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a href="/">
    <ion-fab-button class="call" (click)="takePicture()">
      <ion-icon name="call" class="icon"></ion-icon>
    </ion-fab-button>
  </a>
</ion-content>
